@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
/* Blend */
nav.blend ul li a {
	position: relative;
	border-radius: 5px;
	overflow: hidden;
	z-index: 1;
}
nav.blend ul li a:hover {
	color: rgb(24, 24, 24);
}
nav.blend ul li a:before,
nav.blend ul li a:after {
	position: absolute;
	width: 0px;
	height: 100%;
	top: 0;
	bottom: 0;
	background: #ffffff;
	transition: all .5s;
	margin: auto;
	content: '.';
	color: transparent;
	z-index: -1;
	opacity: 0.75;
}
nav.blend ul li a:before {
	left: 0;
}
nav.blend ul li a:after {
	right: 0;
}

nav.blend ul li a:hover:after,
nav.blend ul li a:hover:before {
	width: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
}

small {
	font-size: 12px;
	color: rgba(255, 255, 255, 0.4);
}

h1 {
	text-align: center;
	padding: 50px 0;
	font-weight: 800;
	margin: 0;
	letter-spacing: -1px;
	color: inherit;
	font-size: 40px;
}

/* By Dominik Biedebach @domobch */

h2 {
	text-align: center;
	font-size: 30px;
	margin: 0;
	font-weight: 300;
	color: inherit;
	padding: 50px;
}

.center {
	text-align: center;
}

/* By Dominik Biedebach @domobch */

section {
	height: 5px;
}

/* NAVIGATION */
nav {
	width: 100%;
	background: #222222;
	padding: 10px 0;
}

/* By Dominik Biedebach @domobch */
nav ul {
	list-style: none;
	padding: 0 100px 0 100px;
	text-align: center;
}
nav ul li {
	display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px 30px 15px 30px;
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 0 0 40px;
  color: #fff;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
	transition: all .5s;
}
nav ul li a:hover {
	color: rgb(255, 255, 255);
}

.buttons {
	margin: 50px 0;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.navbar_toggle {
	display: none;
}

@media only screen and (max-width : 992px){
	.navbar_toggle {
		margin-left: 5%;
		margin-right: 5%;
		font-size: 30px;
		color: #ffffff;
		background: transparent;
		border-color: transparent;
		transition: all 0.3s linear;
		cursor: pointer;
		display: block;
  	}
}


.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create a right-aligned (split) link inside the navigation bar */
.topnav a.split {
  float: right;
  background-color: #04AA6D;
  color: white;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}