@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  text-align: center;
  padding: 60px 32px;
  width: 370px;
  transform: translate(-50%,-50%);
  background-color: rgba(255, 255, 255, 0.925);
  box-shadow: -1px 0px 15px 0px rgba(255, 162, 22, 0.63);
}
.content header{
  color: rgb(204, 109, 0);
  font-size: 33px;
  font-weight: 600;
  margin: 0 0 35px 0;
  
}
.field{
  position: relative;
  height: 45px;
  width: 100%;
  display: flex;
  background: rgba(255,255,255,0.94);
}
.login{
  color: white;
  margin: 20px 0;
  font-family: 'Poppins',sans-serif;
}
.g-signin2{
    margin-left: 30%;
}